
*.PNG
*.jpg
PROY 1/EDA_30-10-2023/summary.txt
PROY 1/EDA_30-10-2023/plots/Year.pdf
PROY 1/EDA_30-10-2023/plots/Team.pdf
PROY 1/EDA_30-10-2023/plots/Sport.pdf
PROY 1/EDA_30-10-2023/plots/Sex.pdf
PROY 1/EDA_30-10-2023/plots/Season.pdf
PROY 1/EDA_30-10-2023/plots/NOC.pdf
PROY 1/EDA_30-10-2023/plots/Name.pdf
PROY 1/EDA_30-10-2023/plots/Medal.pdf
PROY 1/EDA_30-10-2023/plots/ID.pdf
PROY 1/EDA_30-10-2023/plots/Games.pdf
PROY 1/EDA_30-10-2023/plots/Event.pdf
PROY 1/EDA_30-10-2023/plots/correlation.pdf
PROY 1/EDA_30-10-2023/plots/City.pdf
PROY 1/EDA_30-10-2023/plots/age-height-weight.pdf
PROY 1/EDA_30-10-2023/plots/cramer_v.pdf
